@page "/resetpassword"
@using Microsoft.EntityFrameworkCore
@using OnlineShopBlazor.Models.Db
@using OnlineShopBlazor.Models.ViewModels
@using OnlineShopBlazor.Models.Services
@using FluentValidation
@using Blazored.FluentValidation
@inject IValidator< ResetPasswordViewModel> Validator
@inject IDbContextFactory<OnlineShopBlazor.Models.Db.OnlineShopContext> DbFactory
@inject NavigationManager NavigationManager
@inject LoginService _loginService
@rendermode InteractiveServer



<PageTitle>Reset Password</PageTitle>


<hr />
<div class="row" style="margin-top:150px; width: 1520px;">
    <div class="col-md-4 mx-auto">
        <EditForm method="post" Model="ResetPasswordModel" OnValidSubmit="HandleValidSubmit" FormName="ResetPassword" Enhance>
            <FluentValidationValidator Validator="Validator" />

            @* Display general error messages *@
            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @_errorMessage
                </div>
            }
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <InputText id="email" @bind-Value="ResetPasswordModel.Email" class="form-control" />
                <ValidationMessage For="() => ResetPasswordModel.Email" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="newpassword" class="form-label">New Password:</label>
                <InputText id="newpassword" @bind-Value="ResetPasswordModel.NewPassword" class="form-control" />
                <ValidationMessage For="() => ResetPasswordModel.NewPassword" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="recoverycode" class="form-label">Recovery Code:</label>
                <InputNumber id="recoverycode" @bind-Value="ResetPasswordModel.RecoveryCode" class="form-control" />
                <ValidationMessage For="() => ResetPasswordModel.RecoveryCode" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary" disabled="@(loading ? "disabled" : null)">
                @if (loading)
                {
                    <Spinner Class="me-3" Type="SpinnerType.Dots" Color="SpinnerColor.Light" />
                }
                else
                {
                    <span>
                        Reset Password
                    </span>
                }
            </button>
             
        </EditForm>
        <br />
        <div>
            <a href="/register">Want to create an account? Register</a>
        </div>
    </div>
</div>



@code {
    [SupplyParameterFromForm]
    private ResetPasswordViewModel ResetPasswordModel { get; set; } = new();


    private string? _errorMessage = null;
    private bool loading = false;


    private async Task HandleValidSubmit()
    {
        loading = true;
        await Task.Delay(1500);

        using var _context = DbFactory.CreateDbContext();

        ////-------------------------------------------

        var foundUser = await _context.Users.FirstOrDefaultAsync(x => x.Email == ResetPasswordModel.Email && x.RecoveryCode == ResetPasswordModel.RecoveryCode);
        if (foundUser == null)
        {
            _errorMessage = "User not found";
            loading = false;
            return;
        }

        ////-------------------------------------------
        foundUser.Password = ResetPasswordModel.NewPassword;
        foundUser.RecoveryCode = 0;

        _context.Users.Update(foundUser);
        _context.SaveChanges();

        ////-------------------------------------------

        loading = false;
        NavigationManager.NavigateTo("/login");
    }
    
}